@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
/* The emerging W3C standard that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(17, 24, 39, 1) white;
}
/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
*::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(17, 24, 39, 1); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid white; /* creates padding around scroll thumb */
}

@media (prefers-color-scheme: dark) {
  /* The emerging W3C standard that is currently Firefox-only */
  * {
    scrollbar-width: thin;
    scrollbar-color: white rgba(17, 24, 39, 1);
  }
  /* Works on Chrome/Edge/Safari */
  *::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }
  *::-webkit-scrollbar-track {
    background: rgba(17, 24, 39, 1); /* color of the tracking area */
  }
  *::-webkit-scrollbar-thumb {
    background-color: white; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid rgba(17, 24, 39, 1); /* creates padding around scroll thumb */
  }
}
